<header>
  <div class="main-wrapper container-full">
    <div class="inner">
      <!-- Start avaya logo container -->
      <div class="av-logo">
        <div class="">
          <div class="logo"></div>
          <div class="image-container">
            <img src="/assets/svg/AES-white-logo.svg">
          </div>
        </div>
      </div>
      <div>
        <h1 class="Header"> Enterprise Account Dashboard</h1>
        <h6 class="SubHeader">Manage your Avaya account information for your business in one location</h6>
      </div>
      <!-- End avaya logo container -->
     
    </div>
  </div>

 </header>