.dialog-title {
    background: #DA291C;
    height: 45px;
    padding: 8px 20px;
    color: white;
    font-size:24px;
  }
  ::ng-deep .mat-input-wrapper{
    width:40px !important;
  }
  .example-full-width{
    color:red;
  }