<footer class="av-footer container-full">
  <div class="av-sub-footer container">
      <div class="inner">
          <div class="av-logo">
              <img src="/assets/svg/avaya-logo-red.svg" />
          </div>
          <div class="policy">
              <p><a href="">Sitemap</a></p>
              <p><a href="">Terms of Use</a></p>
              <p><a href="">Privacy</a></p>
              <p><a href="">Accessibilty</a></p>
          </div>
          <div class="end-tag">
              <a href="">@ 2018 Avaya Inc.</a>
          </div>
      </div>
  </div>
</footer>