.footer-container {
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #e4eaec;
    padding: 20px;
    z-index: 109;
    font-size: .875rem;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 9px 91px 0 rgba(0, 0, 0, 0.19);
margin-top: 10px;
}

.section-container {
    position: relative;
    height: 100%;
    margin-left: 0;
    z-index: 111;
}